{% extends 'base.html' %}
{% load static %}

{% block html %}<html lang="en" dir="rtl">{% endblock %}

{% block title %} <title> work </title> {% endblock %}


{% block css %}
        <link rel="stylesheet" href="{% static 'work/style.css' %}">
{% endblock %}


{% block content %}
    

    <div class="skills-box">
        <div class="card-PersonalWeb">
            <img src="../../static/work/photo/Personal-Web.png" class="PreavioPix">
            <p>The backend of this website was with me</p>

            <a href="https://khodewmj.pythonanywhere.com" target="_blank"><button id="WorkSample">Visit Website</button></a>
        </div>
    </div>

    <script>
        // function workSampleLink() {
        //     window.location.href = 'https://khodewmj.pythonanywhere.com/'
        // }

        // document.getElementById('WorkSample').addEventListener('click', workSampleLink)
    </script>


{% endblock %}
