{% extends 'base.html' %}
{% load static %}

{% block html %}<html lang="en" dir="rtl">{% endblock %}

{% block title %} <title> about </title> {% endblock %}


{% block css %}<link rel="stylesheet" href="{% static 'about/style.css' %}">{% endblock %}


{% block content %}

      <br>
         <div class="div-1">
            <h1 class="h1"> سلام🖐</h1>
            <p id="p1"> اسم من علیرضاست و اسم مستعارم aiza ست ک همون خلاصه اسم علیرضاست,<br> این وبسایت شخصیه منه و با python/django ساختمش ,<br>فرانت این وبسایتم با دوستمه ک لینک گیت هابش رو در فوتر میزارم.<br>
            حدود 2 الی 3 سالی هست که تو دنیای برنامه نویسی غرق شدم و عاشق این کارم<br>
            18 سالمه و متولد بجنوردم مهارت های زیادی تا الان یادگرفتم و هنوزم ادامه میدم یادگیریو <br>
            خب همین دیگه ممنون که از وبسایتم دیدن کردی رفیق (:❤️</p>
         </div>
      <br>


{% endblock %}


